#page-header {
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column ;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: white;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/*Single Product */

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .sigle-pro-details {
    width: 50%;
    padding-top: 30px;
}
#prodetails .sigle-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .sigle-pro-details h2{
    font-size: 26px;
}

#prodetails .sigle-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .sigle-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .sigle-pro-details input:focus {
    outline: none;
}
#prodetails .sigle-pro-details button {
    background-color: #088178;
    color: #fff;
}

#prodetails .sigle-pro-details span {
    line-height: 25px;
}